body {
    background: rgb(12,48,93);
    background: linear-gradient(90deg, rgba(12,48,93,1) 0%, rgba(0,39,255,1) 100%, rgba(9,9,121,1) 100%);
    overflow-y: hidden;
}

.form_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.form_container form {
    background-color: #f8ecec;
    width: 70%;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    box-shadow: 6px 8px 29px -4px #777777;
    border-radius: 10px;
}

.ui_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.form_field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_field input {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 4px;
}

.form_field input:focus {
    outline: none;
}

.form_field label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

button {
    background-color: #1b66a7;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #175892;
}

.message_ng {
    color: red;
    margin: 0;
    align-self: center;
}

.message_logout {
    margin: 0;
    align-self: center;
}